### Contrastive_Learning/Detectron2_Tutorial
Contrastive_Learning/Detectron2_Tutorial/__MACOSX/balloon
Contrastive_Learning/Detectron2_Tutorial/balloon

Contrastive_Learning/Detectron2_Tutorial/balloon_dataset.zip

Contrastive_Learning/Detectron2_Tutorial/video-clip.mp4
Contrastive_Learning/Detectron2_Tutorial/video-output.mkv

Contrastive_Learning/Detectron2_Tutorial/output/model_final.pth
Contrastive_Learning/Detectron2_Tutorial/output/instances_predictions.pth

### Contrastive_Learning/MoCo
Contrastive_Learning/MoCo/detection/Pretrained_Model
Contrastive_Learning/MoCo/detection/output